@model IEnumerable<UPC_Lunch.Models.Plato>

@{
    ViewBag.Title = "Index";
}

<h2>Tables</h2>

<p>
    Are there empty tables?
<p>
    @if ((bool)ViewBag.MesasDisponibles)
    {
        <label>Tables <b>AVAILABLE</b></label>
    }
    else
    {
        <label>Tables <b>UNAVAILABLE</b></label>
    }
</p>
<p>

    @Html.ActionLink("Change Tables Disponibility", "ActualizarDisponibilidadMesa", "Platos")
</p>
</p>

<h2>Dishes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlatoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlatoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlatoId })
            </td>
        </tr>
    }

</table>
